body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: dodgerblue;
    color: white;
}

body > header > nav a {
    color: white;
}

body > footer {
    background-color: dodgerblue;
    color: white;
}

body > article {
    margin: auto;
    width: 80%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-gap: 20px; 
}